extends layout

block content


    h3 Hello! Welcome to #{title}!

        meta(charset='utf-8')
           meta(name='viewport', content='width=device-width, initial-scale=1.0')
           meta(name='description', content='')
           meta(name='author', content='')
           link(rel='shortcut icon', href='#{pathToAssets}/assets/ico/favicon.png')
           title Jumbotron Template for Bootstrap
           //
              Bootstrap core CSS
           link(href='#{pathToAssets}/dist/css/bootstrap.css', rel='stylesheet')
           //
              Custom styles for this template
           link(href='#{pathToSelectedTemplateWithinBootstrap}/jumbotron.css', rel='stylesheet')
           //
              HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
           //if lt IE 9
             script(src='#{pathToAssets}/assets/js/html5shiv.js')
             script(src='#{pathToAssets}/assets/js/respond.min.js')
         body
           .navbar.navbar-inverse.navbar-fixed-top
             .container
               .navbar-header
                 button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                   span.icon-bar
                   span.icon-bar
                   span.icon-bar
                 a.navbar-brand(href='#') Fitness Challenge
               .navbar-collapse.collapse
                 ul.nav.navbar-nav
                   li.active
                     a(href='#') Home
                   li
                     a(href='#signin') Statistics
                   li
                     a(href='#contact') Members
                   li.dropdown
                     a.dropdown-toggle(href='#', data-toggle='dropdown')
                       | Workouts
                       b.caret
                     ul.dropdown-menu
                       li
                         a(href='#') Action
                       li
                         a(href='#') Another action
                       li
                         a(href='#') Something else here
                       li.divider
                       li.dropdown-header Nav header
                       li
                         a(href='#') Separated link
                       li
                         a(href='#') One more separated link
               //  form.navbar-form.navbar-right
               //    .form-group
               //      input.form-control(type='text', placeholder='Email')
               //    .form-group
               //      input.form-control(type='password', placeholder='Password')
               //    button.btn.btn-success(type='submit') Sign in
               //
                 /.navbar-collapse
           &nbsp
           .row
               .col-lg-12
                   &nbsp
                   h2 Clasament
                   .table-responsive
                     table.table.table-hover.tablesorter
                       thead
                         tr
                           th
                             | Name
                             i.fa.fa-sort
                           th
                             | Score
                             i.fa.fa-sort
                           th
                             | Badges
                             i.fa.fa-sort
                           th
                             | Pie
                             i.fa.fa-sort

                           th
                             | Graphic
                             i.fa.fa-sort
                       tbody
                       - for (var x = length-1; x >=0; x--)
                         tr
                           td(width='10%') #{length-x}. #{data[x].value}
                            br
                            span.glyphicon.glyphicon-chevron-up
                            br
                            span 12
                            br
                            span.glyphicon.glyphicon-chevron-down
                           td(width='10%') #{data[x].key}
                           td(width='10%')
                               p
                                 button.btn.btn-xs.btn-default(type='button') top score
                                 &nbsp
                                 button.btn.btn-xs.btn-primary(type='button') 2
                                 &nbsp
                                 button.btn.btn-xs.btn-success(type='button') 3
                                 &nbsp
                                 button.btn.btn-xs.btn-info(type='button') 4
                                 &nbsp
                                 button.btn.btn-xs.btn-warning(type='button') 5
                                 &nbsp
                                 button.btn.btn-xs.btn-danger(type='button') 6

                           td
                               script(type='text/javascript')
                                    window.onload = function () {
                                    var chart = new CanvasJS.Chart("chartContainer",
                                    {
                                    title:{
                                    text: ""
                                    },
                                    data: [
                                    {
                                    type: "pie",
                                    showInLegend: true,
                                    dataPoints: dataPoints: [
                                    {  y: #{data[x].doc.workouts[0].exercises[0].reps, legendText:"Ex1", indexLabel: "" },
                                    {  y: #{data[x].doc.workouts[0].exercises[1].reps, legendText:"Ex2", indexLabel: "" },
                                    {  y: #{data[x].doc.workouts[0].exercises[2].reps, legendText:"Ex3", indexLabel: "" },
                                    {  y: #{data[x].doc.workouts[0].exercises[3].reps, legendText:"Ex4", indexLabel: "" },
                                    {  y: #{data[x].doc.workouts[0].exercises[4].reps, legendText:"Ex5", indexLabel: "" }
                                    ]
                                    }
                                    ]
                                    });
                                    chart.render();
                                    }
                                  body
                                     #chartContainer(style='height: 200px; width: 100%;')




                           td(width='10%')
                               div(id="container#{x}")
                                   script(defer='defer')
                                     //var secondsInYear = #{data[x].doc.workouts[0].startTime};
                                     // model configuration (data)
                                     //var workout = new Object();
                                     //var listOfWorkouts = new Array();
                                     //var lengthWorkout = #{data[x].doc.workouts.length};
                                     //var jsonObj = [];
                                     var model = {
                                     title: '',
                                     series: [{
                                     title: 'Score',
                                     points: [
                                     {x: #{data[x].doc.workouts[0].endTime}, y: #{data[x].doc.workouts[0].exercises[0].reps} + #{data[x].doc.workouts[0].exercises[1].reps}
                                      + #{data[x].doc.workouts[0].exercises[2].reps} + #{data[x].doc.workouts[0].exercises[3].reps} + #{data[x].doc.workouts[0].exercises[4].reps}},
                                     {x: #{data[x].doc.workouts[1].endTime}, y: #{data[x].doc.workouts[1].exercises[0].reps} + #{data[x].doc.workouts[1].exercises[1].reps}
                                      + #{data[x].doc.workouts[1].exercises[2].reps} + #{data[x].doc.workouts[1].exercises[3].reps} + #{data[x].doc.workouts[1].exercises[4].reps}},
                                     {x: #{data[x].doc.workouts[2].endTime}, y: #{data[x].doc.workouts[2].exercises[0].reps} + #{data[x].doc.workouts[2].exercises[1].reps}
                                      + #{data[x].doc.workouts[2].exercises[2].reps} + #{data[x].doc.workouts[2].exercises[3].reps} + #{data[x].doc.workouts[2].exercises[4].reps}},
                                     {x: #{data[x].doc.workouts[3].endTime}, y: #{data[x].doc.workouts[3].exercises[0].reps} + #{data[x].doc.workouts[3].exercises[1].reps}
                                      + #{data[x].doc.workouts[3].exercises[2].reps} + #{data[x].doc.workouts[3].exercises[3].reps} + #{data[x].doc.workouts[3].exercises[4].reps}},
                                     {x: #{data[x].doc.workouts[4].endTime}, y: #{data[x].doc.workouts[4].exercises[0].reps} + #{data[x].doc.workouts[4].exercises[1].reps}
                                      + #{data[x].doc.workouts[4].exercises[2].reps} + #{data[x].doc.workouts[4].exercises[3].reps} + #{data[x].doc.workouts[4].exercises[4].reps}}
                                     ]
                                     }
                                     ]
                                     };
                                     // view configuration (styling)
                                     var view = {
                                     width: 300,
                                     height: 150
                                     };
                                     // line charts are instantiated with a container DOM element,
                                     // a model, and a view
                                     var lineChart = new MeteorCharts.Line({
                                     container: 'container#{x}',
                                     model: model,
                                     view: view
                                     });
             hr
             footer
               p &copy; Company 2013
           //
              /container
           //
              Bootstrap core JavaScript
           //  ==================================================
           //
              Placed at the end of the document so the pages load faster
           script(src='#{pathToAssets}/assets/js/jquery.js')
           script(src='#{pathToAssets}/dist/js/bootstrap.min.js')