extends layout

block content


    h3 Buna, diana! Bine ai venit la #{title}!

        meta(charset='utf-8')
           meta(name='viewport', content='width=device-width, initial-scale=1.0')
           meta(name='description', content='')
           meta(name='author', content='')
           link(rel='shortcut icon', href='#{pathToAssets}/assets/ico/favicon.png')
           title Jumbotron Template for Bootstrap
           //
              Bootstrap core CSS
           link(href='#{pathToAssets}/dist/css/bootstrap.css', rel='stylesheet')
           //
              Custom styles for this template
           link(href='#{pathToSelectedTemplateWithinBootstrap}/jumbotron.css', rel='stylesheet')
           //
              HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
           //if lt IE 9
             script(src='#{pathToAssets}/assets/js/html5shiv.js')
             script(src='#{pathToAssets}/assets/js/respond.min.js')
         body
           .navbar.navbar-inverse.navbar-fixed-top
             .container
               .navbar-header
                 button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                   span.icon-bar
                   span.icon-bar
                   span.icon-bar
                 a.navbar-brand(href='#') Fitness Challenge
               .navbar-collapse.collapse
                 ul.nav.navbar-nav
                   li.active
                     a(href='#') Home
                   li
                     a(href='#signin') Statistics
                   li
                     a(href='#contact') Members
                   li.dropdown
                     a.dropdown-toggle(href='#', data-toggle='dropdown')
                       | Workouts
                       b.caret
                     ul.dropdown-menu
                       li
                         a(href='#') Action
                       li
                         a(href='#') Another action
                       li
                         a(href='#') Something else here
                       li.divider
                       li.dropdown-header Nav header
                       li
                         a(href='#') Separated link
                       li
                         a(href='#') One more separated link
                 form.navbar-form.navbar-right
                   .form-group
                     input.form-control(type='text', placeholder='Email')
                   .form-group
                     input.form-control(type='password', placeholder='Password')
                   button.btn.btn-success(type='submit') Sign in
               //
                 /.navbar-collapse
           &nbsp
           .row
               .col-lg-12
                   &nbsp
                   h2 Clasament
                   .table-responsive
                     table.table.table-hover.tablesorter
                       thead
                         tr
                           th
                             | Nume
                             i.fa.fa-sort
                           th
                             | Scor
                             i.fa.fa-sort
                           th
                             | Badges
                             i.fa.fa-sort
                           th
                             | Grafic
                             i.fa.fa-sort

                           th
                             | Pie
                             i.fa.fa-sort
                       tbody
                       - for (var x = 1; x <= #{data} ; x++)
                         tr
                           td(width='10%') #{x}. Diana Miu
                            br
                            span.glyphicon.glyphicon-chevron-up  vote up
                            br
                            span 12
                            br
                            span.glyphicon.glyphicon-chevron-down  vote down
                           td(width='10%') 1265
                           td(width='10%')
                               p
                                 button.btn.btn-xs.btn-default(type='button') top score
                                 &nbsp
                                 button.btn.btn-xs.btn-primary(type='button') 2
                                 &nbsp
                                 button.btn.btn-xs.btn-success(type='button') 3
                                 &nbsp
                                 button.btn.btn-xs.btn-info(type='button') 4
                                 &nbsp
                                 button.btn.btn-xs.btn-warning(type='button') 5
                                 &nbsp
                                 button.btn.btn-xs.btn-danger(type='button') 6

                           td(width='10%')
                                div(id="container#{x}")
                                    script(defer='defer')
                                      var secondsInYear = 60 * 60 * 24 * 365;
                                      // model configuration (data)
                                      var model = {
                                      title: 'Example Chart',
                                      series: [{
                                      title: 'Line 1',
                                      points: [
                                      {x: secondsInYear * 0, y: 7.0},
                                      {x: secondsInYear * 1, y: 6.9},
                                      {x: secondsInYear * 2, y: 9.5},
                                      {x: secondsInYear * 3, y: 14.5},
                                      {x: secondsInYear * 4, y: 18.2},
                                      {x: secondsInYear * 5, y: 21.5},
                                      {x: secondsInYear * 6, y: 25.2},
                                      {x: secondsInYear * 7, y: 26.5},
                                      {x: secondsInYear * 8, y: 23.3},
                                      {x: secondsInYear * 9, y: 18.3},
                                      {x: secondsInYear * 10, y: 13.9},
                                      {x: secondsInYear * 11, y: 9.6}
                                      ]
                                      },
                                      {
                                      title: 'Line 2',
                                      points: [
                                      {x: secondsInYear * 0, y: -0.2},
                                      {x: secondsInYear * 1, y: 0.8},
                                      {x: secondsInYear * 2, y: 5.7},
                                      {x: secondsInYear * 3, y: 11.3},
                                      {x: secondsInYear * 4, y: 17.0},
                                      {x: secondsInYear * 5, y: 22.0},
                                      {x: secondsInYear * 6, y: 24.8},
                                      {x: secondsInYear * 7, y: 24.1},
                                      {x: secondsInYear * 8, y: 20.1},
                                      {x: secondsInYear * 9, y: 14.1},
                                      {x: secondsInYear * 10, y: 8.6},
                                      {x: secondsInYear * 11, y: 2.5}
                                      ]
                                      }]
                                      };
                                      // view configuration (styling)
                                      var view = {
                                      width: 400,
                                      height: 250
                                      };
                                      // line charts are instantiated with a container DOM element,
                                      // a model, and a view
                                      var lineChart = new MeteorCharts.Line({
                                      container: 'container#{x}',
                                      model: model,
                                      view: view
                                      });
                           td
                               script(type='text/javascript')
                                 window.onload = function () {
                                 var chart = new CanvasJS.Chart("chartContainer",
                                 {
                                 legend:{
                                 verticalAlign: "center",
                                 horizontalAlign: "left",
                                 fontSize: 20,
                                 fontFamily: "Helvetica"
                                 },
                                 theme: "theme2",
                                 data: [
                                 {
                                 type: "pie",
                                 indexLabelFontFamily: "Garamond",
                                 indexLabelFontSize: 20,
                                 startAngle:-20,
                                 showInLegend: true,
                                 toolTipContent:"{label}",
                                 dataPoints: [
                                 {  y: 83.24, legendText:"Google", label: "Google 83.3%" },
                                 {  y: 8.16, legendText:"Yahoo!", label: "Yahoo! 8.16%" },
                                 {  y: 4.67, legendText:"Bing", label: "Bing 4.67%" },
                                 {  y: 1.67, legendText:"Baidu" , label: "Baidu 1.67%"},
                                 {  y: 0.98, legendText:"Others" , label: "Others .98%"}
                                 ]
                                 }
                                 ]
                                 });
                                 chart.render();
                                 }
                               body
                                 #chartContainer(style='height: 300px; width: 100%;')



             hr
             footer
               p &copy; Company 2013
           //
              /container
           //
              Bootstrap core JavaScript
           //  ==================================================
           //
              Placed at the end of the document so the pages load faster
           script(src='#{pathToAssets}/assets/js/jquery.js')
           script(src='#{pathToAssets}/dist/js/bootstrap.min.js')