extends layout

block content


    h3 Hello! Welcome to #{title}!

        meta(charset='utf-8')
           meta(name='viewport', content='width=device-width, initial-scale=1.0')
           meta(name='description', content='')
           meta(name='author', content='')
           link(rel='shortcut icon', href='#{pathToAssets}/assets/ico/favicon.png')
           title Jumbotron Template for Bootstrap
           //
              Bootstrap core CSS
           link(href='#{pathToAssets}/dist/css/bootstrap.css', rel='stylesheet')
           //
              Custom styles for this template
           link(href='#{pathToSelectedTemplateWithinBootstrap}/jumbotron.css', rel='stylesheet')
           //
              HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
           //if lt IE 9
             script(src='#{pathToAssets}/assets/js/html5shiv.js')
             script(src='#{pathToAssets}/assets/js/respond.min.js')
         body
           script(type='text/javascript').
             var local_data =!{JSON.stringify(data)}
           .navbar.navbar-inverse.navbar-fixed-top
             .container
               .navbar-header
                 button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                   span.icon-bar
                   span.icon-bar
                   span.icon-bar
                 a.navbar-brand(href='#') Fitness Challenge
               .navbar-collapse.collapse
                 ul.nav.navbar-nav
                   li.active
                     a(href='#') Home
                   li
                     a(href='#signin') Statistics
                   li
                     a(href='#contact') Members
                   li.dropdown
                     a.dropdown-toggle(href='#', data-toggle='dropdown')
                       | Workouts
                       b.caret
                     ul.dropdown-menu
                       li
                         a(href='#') Action
                       li
                         a(href='#') Another action
                       li
                         a(href='#') Something else here
                       li.divider
                       li.dropdown-header Nav header
                       li
                         a(href='#') Separated link
                       li
                         a(href='#') One more separated link
                 form.navbar-form.navbar-right
                   .form-group
                     input.form-control(type='text', placeholder='Email')
                   .form-group
                     input.form-control(type='password', placeholder='Password')
                   button.btn.btn-success(type='submit') Sign in
               //
                 /.navbar-collapse
           &nbsp
           .row
               .col-lg-12
                   &nbsp
                   h2 Clasament
                   .table-responsive
                     table.table.table-hover.tablesorter
                       thead
                         tr
                           th
                             | Name
                             i.fa.fa-sort
                           th
                             | Score
                             i.fa.fa-sort
                           th
                             | Badges
                             i.fa.fa-sort
                           th
                             | Pie
                             i.fa.fa-sort

                           th
                             | Graphic
                             i.fa.fa-sort
                       tbody
                       - for (var x = length-1; x >=0; x--)
                         tr
                           td(width='10%') #{length-x}. #{data[x].value}
                            br
                            span.glyphicon.glyphicon-chevron-up
                            br
                            span #{x-5}
                            br
                            span.glyphicon.glyphicon-chevron-down
                           td(width='10%') #{data[x].key}
                           td(width='10%')
                               p
                                 button.btn.btn-xs.btn-default(type='button') top score
                                 &nbsp
                                 button.btn.btn-xs.btn-primary(type='button') 2
                                 &nbsp
                                 button.btn.btn-xs.btn-success(type='button') 3
                                 &nbsp
                                 button.btn.btn-xs.btn-info(type='button') 4
                                 &nbsp
                                 button.btn.btn-xs.btn-warning(type='button') 5
                                 &nbsp
                                 button.btn.btn-xs.btn-danger(type='button') 6

                           td
                                style(type='text/css')
                                    #flotcontainer#{x} {
                                    width: 450px;
                                    height: 150px;
                                    text-align: left;
                                    }

                                - if (data[x].doc.workouts)
                                  script(type='text/javascript').
                                    $(document).ready(function () {
                                        var workouts = local_data[#{x}].doc.workouts;
                                        var workoutsLength = workouts.length;
                                        var lastWorkout = workouts[workoutsLength-1];
                                        var exercises = lastWorkout.exercises;
                                        var exercisesLength = lastWorkout.exercises.length;
                                        var pieData = [];
                                        for (var index = 0; index < exercisesLength; index++) {
                                            var label = exercises[index].name;
                                            var data = exercises[index].reps;
                                            pieData.push({label: label, data: data});
                                        }
                                        //pieData.push({label: "mock", data:10});
                                        var options = {
                                            series: { pie: {show: true} }
                                        };
                                        $.plot($("#flotcontainer#{x}"), pieData, options);
                                    });

                                  #legendPlaceholder
                                  div(id="flotcontainer#{x}")

                           td(width='10%')
                               div(id="container#{x}")
                                   script(type='text/javascript').
                                    $(document).ready(function() {
                                         var workoutsChartData = local_data[#{x}].doc.workoutsChartData;
                                         var model = {
                                             title: '',
                                             series: [{
                                                 title: 'Score',
                                                 points: workoutsChartData
                                            }]
                                         };
                                         // view configuration (styling)
                                         var view = {
                                         width: 300,
                                         height: 150
                                         };
                                         // line charts are instantiated with a container DOM element,
                                         // a model, and a view
                                         var lineChart = new MeteorCharts.Line({
                                             container: 'container#{x}',
                                             model: model,
                                             view: view
                                         });
                                    });
             hr
             footer
               p &copy; Company 2013
           //
              /container
           //
              Bootstrap core JavaScript
           //  ==================================================
           //
              Placed at the end of the document so the pages load faster

    script(src='bootstrap.min.js').
    script(src='http://d3lp1msu2r81bx.cloudfront.net/kjs/js/lib/kinetic-v4.7.4.min.js').
    script(src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.2.1/moment.min.js').
    script(src='http://d3lp1msu2r81bx.cloudfront.net/mc/js/lib/meteorcharts-v0.0.11.min.js').
    script(src='http://canvasjs.com/assets/script/canvasjs.min.js').
    script(src='http://static.pureexample.com/js/flot/excanvas.min.js').
    script(src='http://static.pureexample.com/js/flot/jquery.flot.min.js').
    script(src='http://static.pureexample.com/js/flot/jquery.flot.pie.min.js').