extends layout
block content

  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='shortcut icon', href='#{pathToAssets}/assets/ico/favicon.png')
    title Signin Template for Bootstrap
    // Bootstrap core CSS
    link(href='#{pathToAssets}/dist/css/bootstrap.css', rel='stylesheet')
    // Custom styles for this template
    link(href='#{pathToSelectedTemplateWithinBootstrap}/signin.css', rel='stylesheet')
    // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    //if lt IE 9
      script(src='#{pathToAssets}/assets/js/html5shiv.js')
      script(src='#{pathToAssets}/assets/js/respond.min.js')
  body
   script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
   script(src='http://static.pureexample.com/js/flot/excanvas.min.js')
   script(src='http://static.pureexample.com/js/flot/jquery.flot.min.js')
   script(src='http://static.pureexample.com/js/flot/jquery.flot.pie.min.js')
   //
      CSS
   style(type='text/css')
     #flotcontainer {
     width: 600px;
     height: 200px;
     text-align: left;
     }
   //
      Javascript
   script(type='text/javascript')
     $(function () {
     var data = [
     {label: "data1", data:10},
     {label: "data2", data: 20},
     {label: "data3", data: 30},
     {label: "data4", data: 40},
     {label: "data5", data: 50},
     {label: "data6", data: 60},
     {label: "data7", data: 70}
     ];
     var options = {
     series: {
     pie: {show: true}
     }
     };
     $.plot($("#flotcontainer"), data, options);
     });
   //
      HTML
   #legendPlaceholder
   #flotcontainer
